<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/fragment::head"/>
<body>
<div class="container">
    <div th:include="/common/fragment::nav"/>
    <div id="data_wrap" class="col-md-8">
        <form id="dataForm" name="dataForm" enctype="multipart/form-data" />
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="hidden" th:name="boardType" th:value="${boardType}" />
        <input type="hidden" id="categoryIdx" th:name="categoryIdx" th:value="0" />

        <table class="table">
            <colgroup>
                <col style="width:17%">
                <col style="width:auto">
            </colgroup>
            <tbody>
            <tr>
                <th>카테고리</th>
                <td>
                    <div class="btn-group">
                        <button type="button" id="categoryText" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            action <span class="caret"></span>
                        </button>
                        <ul id="categoryList" class="dropdown-menu" role="menu">
                            <li value="1" onclick="setCategoryIdx(this)"><a href="#">test</a></li>
                            <li value="2" onclick="setCategoryIdx(this)"><a href="#">Another action</a></li>
                            <li value="3" onclick="setCategoryIdx(this)"><a href="#">Something else here</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <th>제목</th>
                <td><input type="text" id="title" class="form-control" name="title" value=""/></td>
            </tr>
            <tr>
                <th>내용</th>
                <td>
                    <textarea id="content" name="content" class="form-control display_none" th:text="${info?.cont}"></textarea>
                </td>
            </tr>
            <tr>
                <th>파일 </th>
                <td class="text-left">
                    <input type="file" name="files" multiple="multiple"/>
                    <div th:each="row:${fileList}" style="padding-top: 10px;" th:id="|removeTarget${row.fileSeqNo}|">
                        <a th:text="${row.orgFileNm}" th:onclick="|fileDown(${row.fileSeqNo})|"></a>
                        <a th:onclick="|removeFile(${row.fileSeqNo})|">[삭제]</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        </form>
        <div class="text-center">
            <button type="button" class="btn btn-default left_right_margin-5" onclick="goList();">취소</button>
            <button type="button" class="btn btn-default left_right_margin-5" onclick="goSave();">저장</button>
        </div>
    </div><!-- data_wrap -->
</div> <!-- /container -->

<div th:include="/common/fragment::editor(content='content')"></div>
<script>
    setCategoryIdx($('#categoryList > li:first'));

    var $dataForm = $("#dataForm")

    var goList = function(){
        location.href="/boards";
    }

    var goSave = function(){
        oEditors.getById["content"].exec("UPDATE_CONTENTS_FIELD",[]);

        var editorCont = $.trim($("#content").val());
        if(editorCont.length == 0 || editorCont=='&nbsp;' || editorCont=='<p>&nbsp;</p>'){
            alert("글 내용을 입력해주세요.");
            oEditors.getById["content"].exec("FOCUS");
            return false;
        }

        if(confirm("저장 하시겠습니까?")) {
            $dataForm.ajaxSubmit({
                url:"/boards/form"
                , type:"post"
                , dataType:'text'
                , success : function(data){
                    console.log(data);
                } ,error:function(x,error){
                    console.log(x);
                    console.log(error);
                    alert("처리중 오류가 발생했습니다.");
                }
            });
        }
    }

    function setCategoryIdx(obj){
        var text = $(obj).children('a').text();
        $("#categoryText").html(text + '<span class="caret"></span>');
        $("#categoryIdx").val($(obj).attr("value"));
    }
</script>
</body>
</html>
