<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/fragment::head"/>
<body>
<div class="container">
    <div th:include="/common/fragment::nav"/>
    <div id="data_wrap" class="col-md-8">
        <form id="dataForm" name="dataForm" enctype="multipart/form-data" />
<!--        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
        <input type="hidden" id="boardType" name="boardType" th:value="${boardType}" />
        <input type="hidden" id="parentCategoryIdx" name="parentCategoryIdx" th:value="0" />
        <input type="hidden" id="childCategoryIdx" name="childCategoryIdx" th:value="0" />

        <table class="table">
            <colgroup>
                <col style="width:17%">
                <col style="width:auto">
            </colgroup>
            <tbody>
            <tr>
                <th>1차 카테고리</th>
                <td>
                    <div class="btn-group">
                        <button type="button" id="parentCategoryText" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            action <span class="caret"></span>
                        </button>
                        <ul id="parentCategoryList" class="dropdown-menu" role="menu">
                            <li value="1" onclick="setParentCategoryIdx(this)"><a href="#">test</a></li>
                            <li value="2" onclick="setParentCategoryIdx(this)"><a href="#">Another action</a></li>
                            <li value="3" onclick="setParentCategoryIdx(this)"><a href="#">Something else here</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <th>2차 카테고리</th>
                <td>
                    <div class="btn-group">
                        <button type="button" id="childCategoryText" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            action <span class="caret"></span>
                        </button>
                        <ul id="childCategoryList" class="dropdown-menu" role="menu">
                            <li value="1" onclick="setChildCategoryIdx(this)"><a href="#">test</a></li>
                            <li value="2" onclick="setChildCategoryIdx(this)"><a href="#">Another action</a></li>
                            <li value="3" onclick="setChildCategoryIdx(this)"><a href="#">Something else here</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <th>제목</th>
                <td><input type="text" id="title" class="form-control" name="title" value=""/></td>
            </tr>
            <tr>
                <th>내용</th>
                <td>
                    <textarea id="content" class="form-control display_none" name="content" ></textarea>
                </td>
            </tr>
            <tr>
                <th>파일 </th>
                <td class="text-left">
                    <input type="file" name="files" multiple="multiple" />
                    <div th:each="row:${fileList}" style="padding-top: 10px;" th:id="|removeTarget${row.fileSeqNo}|">
                        <a th:text="${row.orgFileNm}" th:onclick="|fileDown(${row.fileSeqNo})|"></a>
                        <a th:onclick="|removeFile(${row.fileSeqNo})|">[삭제]</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        </form>
        <div class="text-center">
            <button type="button" class="btn btn-default left_right_margin-5" onclick="goList();">취소</button>
            <button type="button" id="saveButton" class="btn btn-default left_right_margin-5" onclick="goSave();">저장</button>
        </div>
    </div><!-- data_wrap -->
</div> <!-- /container -->

<div th:include="/common/fragment::editor(content='content')"></div>
<script>
    setParentCategoryIdx($('#parentCategoryList > li:first'));
    setChildCategoryIdx($('#childCategoryList > li:first'));

    var goList = function(){
        location.href="/boards";
    }

    var goSave = function(){
        oEditors.getById["content"].exec("UPDATE_CONTENTS_FIELD",[]);

        var editorCont = $.trim($("#content").val());
        if(editorCont.length == 0 || editorCont=='&nbsp;' || editorCont=='<p>&nbsp;</p>'){
            alert("글 내용을 입력해주세요.");
            oEditors.getById["content"].exec("FOCUS");
            return false;
        }

        if(confirm("저장 하시겠습니까?")) {
            $.ajax({
                url : "/boards/form"
                , method : "POST"
                , dataType : 'text'
                , processData: false
                , contentType: false
                , data : new FormData($('#dataForm')[0])
                , success : function(data){
                    $('#saveButton').hide();
                } ,error:function(x,error){
                    console.log(x);
                    console.log(error);
                    alert("처리중 오류가 발생했습니다.");
                }
            });
        }
    }

    function setParentCategoryIdx(obj){
        let text = $(obj).children('a').text();
        $("#parentCategoryText").html(text + '<span class="caret"></span>');
        $("#parentCategoryIdx").val($(obj).attr("value"));
    }

    function setChildCategoryIdx(obj){
        let text = $(obj).children('a').text();
        $("#childCategoryText").html(text + '<span class="caret"></span>');
        $("#childCategoryIdx").val($(obj).attr("value"));
    }
</script>
</body>
</html>
